<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Your Saved Photos</h1>
    <p class="lead">Below are all of your saved photos, <%= @user.name %>.</p>
  </div>
</div>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<div class="container">
    <div class="row">
    <% if @user.photos.count > 0 %>
    <% @user.photos.each do |photo| %>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-block">
        <img class="card-img-top" src="<%= photo.image_url %>" alt="<%= photo.name %>">
          <div class="card-body">
            <h4 class="card-title"><%=photo.name%></h4>
          </div>
        </div>
        <div class="card-body">
          <p><%= link_to "photo link", photo_path(photo) %></p>
          <a href="<%= photo.image_url %>" class="card-link">See Photo</a>
          <#= link_to "Unsave", users_path, class = "btn btn-danger" style = "float" :method => 'delete' %>
        </div>
      </div>
    </div>
    <% end %>
  <% else %>
    <div class="alert alert-primary" role="alert">
      You don't have any photos saved yet. <a href='/photos'> Look at your local photos</a> and save them.
    </div>
  <% end %>
