
<div class="form-group container">
  <div class="col-sm sign-up">
  <h1>Sign Up</h1>
  <%= form_for @user do |f|  %>
    <%= f.label :name, "Name", class:"col-form-label" %> <br>
    <%= f.text_field :name, class:"form-control" %> <br>
    <%= f.label :email, "Email", class:"col-form-label"  %> <br>
    <%= f.text_field :email, class:"form-control" %> <br>
    <%= f.label :password, "Passsword"  %> <br>
    <%= f.password_field :password , class:"form-control"%> <br>
    <%= f.label :home_location, "City and State" , class:"col-form-label" %> <br>
    <%= f.text_field :home_location, class:"form-control" %> <br>
    <%= f.submit class:"btn btn-primary" %>
  <% end %>
  </div>
</div>
