<div class="jumbotron jumbotron-fluid">
  <div class="container" >
    <h1 class="display-3">Photos in your area</h1>
      <p class="lead">These are all of the photos taken in your area, <%= params[:category] && params[:category][:q] ? params[:category][:q] : @user.home_location %>.</p>
        <!-- <div class="row" style="margin-top: 20px">
            <% @category_name_array.each do |category| %>
              <div class="col-" style="margin-top: 10px ; margin-right: 10px">
                <%= form_for :category, url: photos_path, method: "get" do |f| %>
                <%= f.hidden_field :category_filter, value: category %>
                <%= f.hidden_field :q, value: (params[:category] ? params[:category][:q] : nil) %>
                <button name="button" class="btn btn-primary" type="submit"><%= category %></button>
                <%if @filtered%>
                <a href="javascript:history.back()" class="btn btn-secondary btn-small">Go Back</a>
                <%end%>
                <% end %>
              </div>
            <% end %>
            <div class="col" style="margin-top 20px">
          </div>
        </div> -->
    </div>
</div>
<ul class="nav justify-content-end">
  <li class="filter" >
    <%= form_for :category, url: photos_path, method: "get" do |f| %>
    <%= f.label "Search a different area:", for: :q, class: "lead" %>
    <%= f.text_field :location, :placeholder => 'New Location' %>
    <%= f.text_field :radius, :placeholder => 'Radius' %>
    <%= select_tag(:radius_metric, options_for_select([ "km", "miles" ], "km")) %>
    <%= f.submit "Search", class: "lead"%>
    <% end %>
  </li>
</ul>

<div class="category-padding" style="margin-top: 20px">
    <% @category_name_array.each do |category| %>
      <div class="col-" style="margin-top: 10px ; margin-right: 10px">
        <%= form_for :category, url: photos_path, method: "get" do |f| %>
        <%= f.hidden_field :category_filter, value: category %>
        <%= f.hidden_field :q, value: (params[:category] ? params[:category][:q] : nil) %>
        <button name="button" class="btn btn-primary" type="submit"><%= category %></button>
        <%if @filtered%>
        <a href="javascript:history.back()" class="btn btn-secondary btn-small">Go Back</a>
        <%end%>
        <% end %>
      </div>
    <% end %>
    <div class="col" style="margin-top 20px">
  </div>
</div>

<div class="container">
  <div class="row" style="margin-top: 50px" >
    <% @photos.each do |photo| %>
    <div class="col-md-4" style="margin-bottom: 10px">
      <div class="card">
        <div class="card-block">
          <img class="card-img-top img-responsive" src="<%= photo.image_url %>" alt="<%= photo.name %>">
          <div class="card-body">
            <h4 class="card-title"><%=photo.name%></h4>
              <div class="card-body">
                <%= link_to "See Photo", photo_url(photo), class: "btn btn-primary" %>
              </div>
          </div>
        </div>
      </div>
    </div>
    <%end%>
  </div>
</div>
