<div class="jumbotron jumbotron-fluid"
  <div class="container">
    <h1 class="display-3">Photos in your area</h1>
    <p class="lead">These are all of the photos taken in your area, <%= params[:q] ? params[:q] : @user.home_location %>.</p>
  </div>
</div>

<div class="container">
    <div class="row" style="margin-top: 50px" >
    <% @photos.each do |photo| %>
    <div class="col-md-4" style="margin-bottom: 10px">
      <div class="card">
        <div class="card-block">
        <img class="card-img-top img_thumbnail" src="<%= photo.image_url %>" alt="<%= photo.name %>">
          <div class="card-body">
            <h4 class="card-title"><%=photo.name%></h4>
          </div>

<%= form_tag("/photos", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

        </div>
        <div class="card-body">
          <%= link_to("See Photo", photo_path(photo), class: "card-link") %>
        </div>
      </div>
    </div>
    <%end%>


  <!-- <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><#= link_to '1', photos_path(:page => 1), class: "page-link" %></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav> -->
