<div class="jumbotron jumbotron-fluid"
  <div class="container">
    <h1 class="display-3">Photos in your area</h1>
    <p class="lead">These are all of the photos taken in your area, <%= @user.home_location %>.</p>
  </div>
</div>

<%= form_tag("/photos", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

  <div class="row">
  <% @photos[0..3].each do |photo| %>
    <div class="col-sm">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="<%= photo["image_url"] %>" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
          <%= link_to "photo link", photo_path(photo) %>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
  <% end %>
  </div>
