<div class="jumbotron jumbotron-fluid"
  <div class="container">
    <h1 class="display-3">Photos in your area</h1>
    <p class="lead">These are all of the photos taken in your area, <%= params[:q] ? params[:q] : @user.home_location %>.</p>
  </div>
</div>

<%= form_tag("/photos", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

        </div>
        <div class="card-body">
          <%= link_to("See Photo", photo_path(photo), class: "card-link") %>
        </div>
      </div>
    </div>
    <%end%>
