<h2>Photo page! <%= @photo.name %></h2>

<div class="row align-items-center">
  <div class="col-12 col-md-3">  <iframe src="http://maps.google.com/maps?q=<%= @photo.latitude %>, <%= @photo.longitude %>&output=embed" width="270" height="360" frameborder="0" style="border:0"></iframe></div>

  <div class="col-6 col-md-">  <img class="card-img-top" src="<%= @photo.image_url %>" alt="<%= @photo.name %>"></div>
</div>
